.photo-plante {
	height: 400px;
	background-image: url("./bank-tree.jpeg");
	background-repeat: no-repeat;
	background-position-x: 0%;
	background-position-y: 33%;
	background-size: cover;
	position: relative;
}

.slogan {
	width: 360px;
	position: absolute;
	top: 50px;
	right: 50px;
	margin: 32px;
	padding: 32px;

	background-color: #fff;
	text-align: left;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: 700;
}

.list-rond-vert {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 920px) {
	.slogan {
		top: 50px;
		right: calc(50vw - 180px);
	}

	.slogan,
	.subtitle {
		font-size: 1rem;
	}

	.list-rond-vert {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}
