/** reset **/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

article,
aside,
details,
dialog,
div,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: #000;
}

ul,
ol {
	list-style: none;
}

/** general **/

:root {
	--vert: #00bc77;
}

body {
	font-size: 20px;
	font-family: "DM Sans", sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background-color: #fff;
	box-sizing: border-box;
}

.app {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 65px auto 80px;

	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

.app-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
}

.app-nav-bar {
	display: flex;
	gap: 5px;
}

.logo-bank {
	max-height: 55px;
	width: auto;
}

.app-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	border-top: solid 1px #ccc;
}

.bg-white {
	background-color: #fff;
}

.sign-in {
	display: flex;
	align-items: center;
	gap: 6px;
	font-weight: bold;
	font-size: 16px;
}

.my-icon-user,
.my-icon-user::before {
	/*
	background-color: #000;
	color: #fff;*/
	border-radius: 50%;
	border-color: transparent;
	max-width: 18px;
	max-height: 18px;
}

.btn {
	all: unset;
	min-height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 5px 10px;
	border-style: outset;
	border-width: 2px;
}

.btn:active {
	border-style: inset;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.bg-green {
	background-color: var(--vert, #00bc77);
	border-color: var(--vert, #00bc77);
	color: #fff;
}

.txt-left {
	text-align: left;
}

.txt-surligne {
	text-decoration: underline;
}

.txt-white {
	color: #fff;
}
